
body {font-size: 62.5%; margin: 0px auto; padding: 0px; background: url(../img/background_body_grey.gif) top center repeat-y; font-family: arial, sans-serif;}
.page-container-1 {width: 770px; margin: 0px auto; padding: 0px; background: url(../img/background_layout_1.gif) top left repeat-y; border: solid 1px rgb(100,100,100);}
.page-container-2 {width: 770px; margin: 0px auto; padding: 0px; background: url(../img/background_layout_2.gif) top left repeat-y; border: solid 1px rgb(100,100,100);}
.page-container-3 {width: 770px; margin: 0px auto; padding: 0px; background: url(../img/background_layout_3.gif) top left repeat-y; border: solid 1px rgb(100,100,100);}
.site-name {width: 300px; height: 45px; top: 12px; position: absolute; z-index: 4; overflow: hidden; margin: 0px; padding-left: 75px; color: rgb(69,140,204);}
.site-name p.title  {margin: 0px; padding: 0px; font-family: "trebuchet ms", arial, sans serif; font-weight: bold; font-size: 24px;}
.site-name p.subtitle  {clear: both; width: 300px; margin: -6px 0px 0px 0px; padding: 0px; background-color: transparent; font-family: "trebuchet ms", arial, sans serif; font-size: 12px;}
.site-name a {margin: 0px; padding: 0px; text-decoration: none; color: rgb(88,144,168);}
.site-name a:hover {text-decoration: none;}
.site-slogan-container  {width: 755px; height: 130px; top: 112px; position: absolute; z-index: 1; overflow: hidden; margin: 0px; padding-right: 15px; background-color: transparent;}
.site-slogan {float: right; width: 700px; margin: 0px; padding: 0px; background-color: transparent; font-size: 10px;}
.site-slogan p.title {float: right; width: 700px; margin: 0px; padding: 0px; color: rgb(234,239,247); font-family: arial, sans serif;  text-align: right; font-weight: bold; font-size: 220%;}
.site-slogan p.subtitle {clear: both; float: right; width: 700px; margin: -5px 0px 0px 0px; padding: 0px; color: rgb(234,239,247); font-family: arial, sans serif; text-align: right; font-weight: bold; font-size: 200%;}
.site-slogan p.text {clear: both; float: right; width: 700px; margin: 10px 0px 0px 0px; padding: 0px; color: rgb(234,239,247); font-family: arial, sans serif; text-align: right; font-weight: bold; line-height: 1.0em; font-size: 140%;}
.site-slogan p.readmore {clear: both; float: right; width: 700px; margin: 10px 0px 0px 0px; padding: 0px; color: rgb(234,239,247); font-family: arial, sans serif; text-align: right; font-weight: bold; line-height: 1.0em; font-size: 120%;}
.site-slogan a {color: rgb(234,239,247); text-decoration: underline;}
.site-slogan a:hover {text-decoration: none; color: rgb(50,50,50);}
.img-header-{clear: both; float: left; width: 770px; height: 250px; margin: 0px; padding: 0px;}
.navflag-container {width: 770px; top: 14px; position: absolute; z-index: 2; background-color: transparent;}
.navflag {margin: 0px; padding: 0px; font-size: 1.0em;}
.navflag ul {float: right; margin: 0px; padding: 0px 20px 0px 0px;}
.navflag li {display: inline; list-style: none; margin: 0px; padding: 0px;}
.navflag li a {margin: 0px; padding: 0px 0px 0px 1px;}
.navflag a:hover {color: rgb(0,0,0); text-decoration: none;}
.img-navflag {display: inline; height: 14px; margin: 0px; padding: 0px; border: none;}
.nav1-container {width: 770px; top: 35px; position: absolute; z-index: 3; background: transparent;}
.nav1 {margin: 0px; padding: 0px; font-family: verdana, arial, sans serif; font-size: 1.0em;}
.nav1 ul {float: right; margin: 0px; padding: 0px 20px 0px 0px; border-left: solid 1px rgb(115,162,182); background-color: rgb(255,255,255); font-weight: bold;}
.nav1 li {display: inline; list-style: none; margin: 0px; padding: 0px;}
.nav1 li a {display: block; float: left; margin: 0px; padding: 2px 5px 2px 5px; border-right: solid 1px rgb(115,162,182); color: rgb(115,162,182); text-decoration: none; font-size: 10px;}
.nav1 a:hover, .nav2 a.selected {color: rgb(50,50,50); text-decoration: none;}
.nav2 {clear: both; margin: 0px; padding: 0px; font-family: verdana, arial, sans serif; font-size: 1.0em;}
.nav2 ul {float: left; width: 770px; margin: 0px; padding: 0px; border-top: solid 1px rgb(54,83,151); border-bottom: solid 1px rgb(54,83,151); background-color: rgb(127,162,202); font-weight: bold;}
.nav2 li {display: inline; list-style: none; margin: 0px; padding: 0px;}
.nav2 li a {display: block; float: left; margin: 0px 0px 0px 0px; padding: 5px 10px 5px 10px; border-right: solid 1px rgb(54,83,151); color: rgb(255,255,255); text-transform: uppercase; text-decoration: none; font-size: 100%;}
.nav2 a:hover, .nav2 a.selected {color: rgb(50,50,50); text-decoration: none;}
.buffer {clear: both; width: 770px; height: 30px; margin: 0px; padding: 0px; background-color: rgb(255,255,255);}
.nav3 {overflow: hidden; clear: both; float: left; width: 160px; min-height: 500px; margin: 0px; padding: 0px; color: rgb(75,75,75); font-size: 1.0em;}
.nav3 ul {width: 160px; margin: 0px 0px 20px 0px; padding: 0px; border-bottom: solid 1px rgb(216,206,159); background-color: rgb(219,230,241);}
.nav3 li {list-style: none; margin: 0px; padding: 0px;}
.nav3 li.title {margin: 0px 0px 0px 0px; padding: 3px 5px 2px 15px; background-color: rgb(156,186,214); color: rgb(255,255,255); text-transform: uppercase; font-weight: bold; font-size: 120%;}
.nav3 li.group a {display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 15px; border-top: solid 1px rgb(200,200,200); border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); font-weight: bold; font-size: 120%;}
.nav3 li a {display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; margin: 0px; padding: 0px 7px 0px 20px; border-left: solid 7px rgb(219,230,241); color: rgb(75,75,75); text-decoration: none; font-size: 120%;}
.nav3 li a:hover, .nav3 li a.selected {border-left: solid 7px rgb(156,186,214);  color: rgb(100,100,100); text-decoration: none;}
.content1 {float: left; width: 428px; margin: 0px; padding: 0px 0px 10px 20px; color: rgb(75,75,75);}
.content1-container {clear: both; float: left; width: 408px; margin: 0px 0px 15px 0px; padding: 0px;}
.content1-container-1col {overflow: hidden; width: 408px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-200px {float: right; width: 196px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-160px {float: right; width: 236px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-120px {float: right; width: 276px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-100px {float: right; width: 296px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-80px {float: right; width: 316px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-60px {float: right; width: 336px; margin: 0px; padding: 0px;}
.content1-container-1col-txtright-40px {float: right; width: 356px; margin: 0px; padding: 0px;}
.content1-container-2col-left {overflow: hidden; float: left; width: 191px; margin: 0px; padding: 0px;}
.content1-container-2col-right {overflow: hidden; float: right; width: 191px;  margin: 0px; padding: 0px;}
.content1-container-2col-txtright-100px {float: right; width: 79px; margin: 0px; padding: 0px;}
.content1-container-2col-txtright-80px {float: right; width: 99px; margin: 0px; padding: 0px;}
.content1-container-2col-txtright-60px {float: right; width: 119px; margin: 0px; padding: 0px;}
.content1-container-2col-txtright-40px {float: right; width: 139px; margin: 0px; padding: 0px;}
.content1-container-2col-txtright-20px {float: right; width: 159px; margin: 0px; padding: 0px;}
.content1-container-3col-left {overflow: hidden; float: left; width: 119px; margin: 0px 25px 0px 0px; padding: 0px;}
.content1-container-3col-middle {overflow: hidden; float: left; width: 119px;margin: 0px; padding: 0px;}
.content1-container-3col-right {overflow: hidden; float: right; width: 119px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-60px {float: right; width: 47px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-40px {float: right; width: 67px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-20px {float: right; width: 87px; margin: 0px; padding: 0px;}
.content1-container-3col-txtright-10px {float: right; width: 97px; margin: 0px; padding: 0px;}
.content1-pagetitle {overflow: hidden; width: 408px; margin: 0px 0px 10px 0px; padding: 0px 0px 2px 0px; border-bottom: solid 3px rgb(88,144,168);); color: rgb(88,144,168); font-weight: bold; font-size: 180%;}
.content2 {float: left; width: 590px; min-height: 500px; margin: 0px; padding: 0px 0px 0px 20px; color: rgb(75,75,75); font-size: 1.0em;}
.content3 {float: left; width: 590px; min-height: 500px; margin: 0px; padding: 0px 0px 0px 20px; color: rgb(75,75,75); font-size: 1.0em;}
.content2-container, .content3-container {clear: both; float: left; width: 569px; margin: 0px 0px 15px 0px; padding: 0px;}
.content2-container-1col, .content3-container-1col {overflow: hidden; width: 569px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-200px, .content3-container-1col-txtright-200px {float: right; width: 357px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-160px, .content3-container-1col-txtright-160px {float: right; width: 397px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-120px, .content3-container-1col-txtright-120px {float: right; width: 437px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-100px, .content3-container-1col-txtright-100px {float: right; width: 457px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-80px, .content3-container-1col-txtright-80px {float: right; width: 477px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-60px, .content3-container-1col-txtright-60px {float: right; width: 497px; margin: 0px; padding: 0px;}
.content2-container-1col-txtright-40px, .content3-container-1col-txtright-40px {float: right; width: 517px; margin: 0px; padding: 0px;}
.content2-container-2col-left, .content3-container-2col-left {overflow: hidden; float: left; width: 272px; margin: 0px; padding: 0px;}
.content2-container-2col-right, .content3-container-2col-right {overflow: hidden; float: right; width: 272px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-100px, .content3-container-2col-txtright-100px {float: right; width: 160px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-80px, .content3-container-2col-txtright-80px {float: right; width: 180px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-60px, .content3-container-2col-txtright-60px {float: right; width: 200px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-40px, .content3-container-2col-txtright-40px {float: right; width: 220px; margin: 0px; padding: 0px;}
.content2-container-2col-txtright-20px, .content3-container-2col-txtright-20px {float: right; width: 240px; margin: 0px; padding: 0px;}
.content2-container-3col-left, .content3-container-3col-left {overflow: hidden; float: left; width: 173px; margin: 0px 25px 0px 0px; padding: 0px;}
.content2-container-3col-middle, .content3-container-3col-middle {overflow: hidden; float: left; width: 173px; margin: 0px; padding: 0px;}
.content2-container-3col-right, .content3-container-3col-right {overflow: hidden; float: right; width: 173px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-60px, .content3-container-3col-txtright-60px {overflow: hidden; float: right; width: 101px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-40px, .content3-container-3col-txtright-40px {overflow: hidden; float: right; width: 121px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-20px, .content3-container-3col-txtright-20px {overflow: hidden; float: right; width: 141px; margin: 0px; padding: 0px;}
.content2-container-3col-txtright-10px, .content3-container-3col-txtright-10px {overflow: hidden; float: right; width: 151px; margin: 0px; padding: 0px;}
.content2-pagetitle, .content3-pagetitle {overflow: hidden; width: 569px; margin: 0px 0px 10px 0px; padding: 0px 0px 2px 0px; border-bottom: solid 3px rgb(88,144,168); color: rgb(88,144,168); font-weight: bold; font-size: 180%;}
.content-title-noshade-size1 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-title-noshade-size2 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-title-noshade-size3 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 160%;}
.content-title-noshade-size4 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 180%;}
.content-title-noshade-size5 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 200%;}
.content-title-shade-size1 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(100,100,100); color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-title-shade-size2 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-title-shade-size3 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 160%;}
.content-title-shade-size4 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168);  font-weight: bold; font-size: 180%;}
.content-title-shade-size5 {margin: 0px; padding: 0px 10px 0px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168);  font-weight: bold; font-size: 200%;}
.content-subtitle-noshade-size1 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 110%;}
.content-subtitle-noshade-size2 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 120%;}
.content-subtitle-noshade-size3 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-subtitle-noshade-size4 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 140%;}
.content-subtitle-noshade-size5 {margin: 0px; padding: 0px; color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-subtitle-shade-size1 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 110%;}
.content-subtitle-shade-size2 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 120%;}
.content-subtitle-shade-size3 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 130%;}
.content-subtitle-shade-size4 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 140%;}
.content-subtitle-shade-size5 {margin: 0px; padding: 0px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(88,144,168); font-weight: bold; font-size: 150%;}
.content-txtbox-noshade {margin: 0px; padding: 7px 0px 0px 0px; background-color: rgb(255,255,255);}
.content-txtbox-shade {margin: 0px; padding: 7px 10px 5px 10px; background-color: rgb(235,235,235);}
h1 {margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 160%;}
h2 {margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 150%;}
h3 {margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 140%;}
h4 {margin: 1.0em 0px 0.5em 0px; font-weight: bold; font-size: 130%;}
h5 {margin: 0px 0px 0.2em 0px; font-weight: bold; font-size: 130%;}
h6 {margin: 0px 0px 0.2em 0px;font-weight: bold; font-style: italic; font-size: 130%;}
p {margin: 0px 0px 0.5em 0px; padding: 0px; line-height: 1.3em; font-family: arial, sans serif; font-size: 120%; }
p.readmore {margin: 1.0em 0px 0.5em 0px; padding: 0px; line-height: 1.2em; font-size: 110%; }
p.quote {margin: 0em 30px 0.6em 30px;	line-height: 120%; font-size: 120%;}
p.embed {float: left; width: 120px; margin: 7px 7px 5px 0px; padding: 5px 5px 5px 5px; background-color: rgb(238,237,249); font-style: italic; font-weight: bold;  line-height: 1.2em; font-size: 140%;}
p.embed-caption {float: left; margin: 5px 0px 0px 0px; padding: 0px; font-style: italic; font-weight: normal; line-height: 1.2em; font-size: 70%;}

p.quote {clear: left; margin: 0em 30px 0.6em 30px;	line-height: 120%; font-size: 110%;}


.embed {float: left; width: 120px; margin: 2px 7px 2px 0px; padding: 5px 5px 5px 5px; background-color: rgb(238,237,249); font-style: italic; font-weight: bold;  line-height: 1.2em; font-size: 140%;}
.embed-caption {float: left; margin: 5px 0px 0px 0px; padding: 0px; font-style: italic; font-weight: normal; line-height: 1.2em; font-size: 70%;}


ul.noindent {margin: 0px 0px 7px 15px; padding: 0px; list-style-type: disc; list-style-position: outside; font-size: 120%;}
ul.indent {margin: 0px 0px 7px 15px; padding: 0px 0px 0px 15px; list-style-type: disc; font-family: arial; font-size: 120%;}
ol {margin: 0px 0px 0px 9px; padding: 0px 0px 0px 25px; list-style-type: decimal; list-style-position: outside; font-size: 120%;}
ul.linklist-noindent {margin: -0.3em 0px 0.5em 0px; padding: 0px; list-style-type: none; line-height: 1.2em; font-size: 120%; }
ul.linklist-indent {margin: -0.3em 0px 0.5em 0px; padding: 0px 0px 0px 10px; list-style-type: none; line-height: 1.2em; font-size: 120%; }


.table {clear: left; margin: 0.5em 0px 0.2em 30px; border: solid 1px rgb(150,150,150); empty-cells: show; border-collapse: collapse; background-color: rgb(233,232,244);}
.table tr {margin: 0px; padding: 0px;}
.table td {padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); text-align: left; font-size: 120%;}
.table th {margin: 0px; padding: 2px 7px 2px 7px; border: solid 1px rgb(150,150,150); empty-cells: show; text-align: left; font-size: 120%; 	}
.table-caption {margin: 0.5em 0px 1.0em 30px; padding: 0px; clear: both; text-align: left; font-size: 120%;}


.img-left-noborder-notopmargin {float: left; margin: 0px 10px 0px 0px;}
.img-left-noborder-topmargin {float: left; margin: 3px 10px 0px 0px;}
.img-left-border-notopmargin {float: left; margin: 0px 10px 0px 0px; border: solid 1px rgb(150,150,150);}
.img-left-border-topmargin {float: left; margin: 3px 10px 0px 0px; border: solid 1px rgb(150,150,150);}
.img-right-noborder-notopmargin {float: right; margin: 0px 0px 0px 10px;}
.img-right-noborder-topmargin {float: right; margin: 3px 0px 0px 10px;}
.img-right-border-notopmargin {float: right; margin: 0px 0px 0px 10px; border: solid 1px rgb(150,150,150);}
.img-right-border-topmargin {float: right; margin: 3px 0px 0px 10px; border: solid 1px rgb(150,150,150);}


.sidebar {overflow: hidden; float: right; width: 160px; min-height: 500px; margin: 0px; padding: 0px 0px 10px 0px; text-align: left; color: rgb(75,75,75);}
.sidebar-maintitle {margin: 0px 0px 10px 0px; padding: 3px 10px 2px 10px; background-color: rgb(156,186,214); color: rgb(255,255,255); text-transform: uppercase; font-weight: bold; font-size: 120%;}
.sidebar-title-noshade {margin: 0px; padding: 2px 10px 3px 10px; border-top: solid 1px rgb(215,215,215); color: rgb(75,75,75); font-weight: bold; font-size: 120%;}
.sidebar-title-shade {margin: 0px; padding: 2px 10px 3px 10px; background-color: rgb(215,215,215); color: rgb(75,75,75); font-weight: bold; font-size: 120%;}
.sidebar-txtbox-noshade {margin: 0px 0px 10px 0px; padding: 2px 10px 3px 10px;}
.sidebar-txtbox-shade {margin: 0px 0px 10px 0px; padding: 2px 10px 3px 10px; background-color: rgb(235,235,235);}
.sidebar-txtbox-noshade p {margin: 0px 0px 5px 0px; padding: 0px; line-height: 1.25em; font-size: 110%;}
.sidebar-txtbox-shade p {margin: 0px 0px 5px 0px; padding: 0px; line-height: 1.25em; font-size: 110%;}
.footer {overflow: hidden; clear: both; width: 770px; height: 3.0em; margin: 0px; padding: 0.5em 0px 0.5em 0px; border-top: solid 1px rgb(125,125,125); background-color: rgb(128,161,202); color: rgb(255,255,255); font-size: 1.0em;}
.footer p {margin: 0px; padding: 0px; text-align: center; line-height: 1.3em; font-size: 110%;}
.content1 a, .content2 a, .content3 a, .sidebar-txtbox-noshade a, .sidebar-txtbox-shade a {color: rgb(75,75,75); text-decoration: underline;}
.content1 a:hover, .content2 a:hover, .content3 a:hover, .sidebar-txtbox-noshade a:hover, .sidebar-txtbox-shade a:hover {color: rgb(0,0,0); text-decoration: none;}
.content1 a:visited, .content2 a:visited, .content3 a:visited, .sidebar-txtbox-noshade a:visited, .sidebar-txtbox-shade a:visited  {color: rgb(150,150,150);}
.footer a {color: rgb(255,255,255); text-decoration: underline;}
.footer a:hover {color: rgb(0,0,0); text-decoration: none;}

.box-on {float: left; min-width: 0.3em; margin-right: 0.2em; padding: 0px 0.2em 0px 0.3em;}
.box-off {display: none;}

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}

.txt-white {color: rgb(255,255,255);}
.txt-black {color: rgb(0,0,0);}
.showcode {font-family: monospace; font-weight: bold; font-size: 13px; color: rgb(255,0,0);}
.clear {clear: both;}
.hide {display: none;}
br {clear: none;}